<!Docpad html>
<html>
<head>
<title>Standish Bar Manager</title>
</head>
<body>
<p><a href="/auth/google">Please Login with Google</a></p>
<p>You will need a Google Account that ends in @reapmarketing.com to be authorized to use this site.</p>
</body>
</html>
