body
	margin-top: 60px

textarea#markup
	width: 980px
	height: 140px
	margin: 10px 0
	font-family: monospace

.hello_preview
	height: 60px
	background-color: #f5f5dc
	min-width: 980px
	box-shadow: 0 0 2px 0 #4d4d4d

.hello_preview p
	line-height: 32px

.hello_preview .container_12
	position: relative

.buttons
	position: relative
	top: 15px

.buttons button
	float: left
	margin: 0 10px 0 0

h4
	width: 140px
	float: left
	margin: 20px 0

.saved_bar
	border-bottom: 1px solid #737373
	width: 980px
	padding-bottom: 30px
	clear: both
